.circular-image {
    width: 50px; /* Set the desired width of the circular image container */
    height: 50px; /* Set the desired height of the circular image container */
    border-radius: 50%; /* Create a circular shape using border-radius */
    overflow: hidden; /* Hide any overflow outside of the circular container */
    /* padding: 20px; */
  }
  
  .circular-image img {
    width: 100%; /* Make the image cover the entire circular container */
    height: 100%; /* Make the image cover the entire circular container */
    object-fit: cover; /* Maintain the aspect ratio and cover the container */
  }

  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .search-bar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #283618; /* Add a border */
    border-radius: 5px;
    outline: none; /* Remove the outline when focused */
    /* width: 20px; */
    color: black;
  }

  .card-container {
    margin: 1rem;
  }

  .MuiAccordion-root {
    margin: 10px 0; /* Adjust margin as needed */
    border: 2px solid #283618; /* Change border properties */
    border-radius: 5px; /* Add border radius */
  }
  
  /* Accordion Summary */
  .MuiAccordionSummary-root {
    background-color: black; /* Change background color */
  }
  
  .MuiAccordionSummary-content {
    display: flex;
    align-items: center;
  }

  .content-container {
    display: flex;
    align-items: center;
    margin: 5px 20px 5px 20px;
    border: 1px solid lightgray;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  .description-container {
    margin-top: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

.all-buttons {
  cursor: pointer;
  padding: 0.5rem;
}

/* DeleteAlertStyles.css */
.dialogContent {
  display: flex;
  justify-content: space-between;
  min-width: 20rem;
}

.closeButton {
  cursor: pointer;
}

.title {
  color: darkgray;
}

.input-container {
  border-color: darkgray;
  border-radius: 0.5rem;
  padding: 5px;
}
