
.app-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: medium;
  margin: 1rem;
  border: 4px solid #283618;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #76c893;
}

.centered-container {
  width: 40rem;
  margin: 0 auto;
  /* background: #606c38; */
}

.no-result {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 1rem;
}

.searchDiv {
  margin-top: 1rem;
  color: white;
}
